@{
    ViewData["Title"] = "Carrinho";
}

<h3>Meu Carrinho</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2">
                Preço Unitário
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Quantidade
                </span>
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3"><img src="~/images/espanha.png" /></div>
            <div class="col-md-3">Espanha</div>
            <div class="col-md-2">R$ 159,90</div>
            <div class="col-md-2">
                <span class="pull-right">
                    1
                </span>
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    R$ 159,90
                </span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                Total:
            </div>
            <div class="col-md-2">
                R$ --,--
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-controller="pedido" asp-action="resumo" class = "btn btn-success pull-right">Finalizar Pedido</a>
    </div>
</div>
